<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Self-Checkout · Synap{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {% block extra_css %}{% endblock %}
</head>
<body class="h-full antialiased">
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
